.contatos-wrapper {
  margin-top: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.titulo-label {
  font-size: 14px;
  font-weight: 700;
}

hr {
  margin-top: 4px;
  border: none;
  border-top: 2px solid #555;
}

.table-contatos {
  width: 100%;
  margin-top: 8px;
}

.acoes {
  text-align: right;
}

.empty {
  font-size: 13px;
  color: #777;
  margin-top: 8px;
}

.hint-bottom {
  font-size: 11px;
  margin-top: 4px;
  display: block;
}

.btn-incluir-contato{
  position: absolute;
  right: 15px;
  top: 5px;
  border-radius: 0px !important;
}
