.logo{
    margin: auto;
}

.public-header{
    text-align: center;
    background-color: #efefef;
    padding: 15px 0;
    border-bottom: 10px solid #058dbb;
}

.public-content{
    width: 80%;
    margin: auto;
}

@media (max-width: 768px) {
  .public-content {
    width: 100%;
  }
}

@media print {
  .public-header {
    border-bottom: 2px solid #058dbb;
    padding: 8px 0;
  }
  .public-content {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}