<div class="public-shell">
  <header class="public-header">
    <div class="header-container">
      <img class="logo" src="assets/img/logo/logo_kazaz.png" alt="Kazaz Logo" />
      
      <div class="header-contact">
        <a href="https://wa.me/5565999471526" target="_blank" class="contact-item">
          <mat-icon class="contact-icon phone-icon">call</mat-icon>
          <span>65 9.9947-1526</span>
        </a>
        
        <a href="mailto:atendimento@kazaz.com.br" class="contact-item">
          <mat-icon class="contact-icon email-icon">mail</mat-icon>
          <span>atendimento@kazaz.com.br</span>
        </a>
        
        <div class="contact-item creci-item">
          <mat-icon class="contact-icon badge-icon">badge</mat-icon>
          <span>CRECI 11.499</span>
        </div>
      </div>
    </div>
  </header>

  <main class="public-content">
    <router-outlet></router-outlet>
  </main>
</div>
