.login-container {
  background: url('/assets/img/banners/banner.jpg') no-repeat center center / cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 25, 47, 0.7); // Overlay escuro
  z-index: 1;
}

.login-box {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

h1 {
  color: #005b82;
  margin-bottom: 30px;
  font-size: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #009FE3;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background-color: #007bbd;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}
