
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.page {
  display: grid;
  gap: 1rem;
}

.page__header {
  display: flex; align-items: center; justify-content: space-between;
}

mat-card { padding: 1rem; }

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: .75rem;
}
.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-5 { grid-column: span 5; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }
.col-9 { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-12 { grid-column: span 12; }

.sub { margin: 1rem 0 .25rem; font-weight: 600; }

.actions {
  margin-top: 1rem;
  display: flex; justify-content: flex-end; gap: .75rem;
}

.error { color: #f44336; }
@media (max-width: 900px) {
  .col-3, .col-4, .col-5, .col-6 { grid-column: span 12; }
}

thead{
  background-color: #00458f !important;
  color: #FFF !important;
}

thead .mat-mdc-header-row{
  color: #FFF !important;
}

mat-card{
  margin-bottom: 20px !important;
}

.mat-mdc-card-header {
    padding: 0px !important;
    margin-bottom: 20px;
    border-bottom: 1px solid #545455;
    text-align: center;
    font-size: 14px !important;
    color: #005cbb;
}

.mat-mdc-card-header mat-icon{
    margin-top: 5px !important;
    line-height: 30px;
}